<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">


            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-dark me-md-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Add Friend</button>
                <button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#exModal">
                    Lend To Friends </button>

            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Friend</h5>
                        </div>
                        <form action="/api/friends/addFriend/<%= user._id %>" method="POST" novalidate
                            class="needs-validation">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="friend_name" class="col-form-label">Friend Name:</label>
                                    <input type="text" class="form-control" id="friend_name" name="friend_name"
                                        required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="exModal" tabindex="-1" aria-labelledby="exModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exModalLabel">Lend
                            </h5>
                        </div>
                        <form action="/api/friends/pay/<%= user._id %>" method="POST" novalidate
                            class="needs-validation">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="friend_name" class="col-form-label">Friend Name:</label>
                                    <input type="text" class="form-control" id="friend_name" name="friend_name"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="amount" class="col-form-label">Amount:</label>
                                    <input type="text" class="form-control" id="amount" name="amount" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <% if(docs.length){ %>
                <h3 class="table-heading">Friends</h3>
                <div class="container">
                    <div class="d-flex flex-md-row justify-content-between mt-4 flex-column">
                        <% for(let doc of docs) { %>
                            <% let frd; %>
                                <% if(doc.friend1.username==user.username) {%>
                                    <% frd=doc.friend2 %>
                                        <% } else{ %>
                                            <% frd=doc.friend1%>
                                                <% } %>
                                                    <div class="avtar my-auto">
                                                        <img src="/images/<%= frd.avtar %>.png" alt="">
                                                        <%= frd.username %>
                                                    </div>

                                                    <% } %>
                    </div>
                </div>
                <% } else { %>
                    <h3 class="table-heading">No Friend</h3>
                    <% } %>

        </div>
    </div>

    <a class="btn btn-light" style="position:fixed;bottom:3em;right:2em;margin:0;padding:5px 3px;"
        href="/api/dashboard">
        BACK</a>