<!-- <% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center my-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bG9naW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/api/users/login" method="POST" novalidate class="needs-validation">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class="valid-feedback">Looks Good!</div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">Looks Good!</div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box needs-validation" action="/api/users/login" method="POST" novalidate>
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your login and password!</p>
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit" name="" value="Login" href="#">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>