<% layout('layouts/boilerplate') %>
    <h1>Login!!!</h1>
    <form action="/api/users/login" method="POST">
        User Name: <input type="text" name="username">
        <br>
        Password: <input type="text" name="password">
        <br>
        <button>Submit</button>
    </form>